/.vs/slnx.sqlite
/.vs/Create-Departure.slnx/v18/.wsuo
/.vs/Create-Departure.slnx/FileContentIndex/30a567ce-4472-41e3-8430-3651c008c3bd.vsidx
/.vs/Create-Departure.slnx/FileContentIndex/69c674b6-bd2e-42eb-b0b2-fca5cc093b93.vsidx
/.vs/Create-Departure/CopilotIndices/18.6.39603.9996/CodeChunks.db
/.vs/Create-Departure/CopilotIndices/18.6.39603.9996/CodeChunks.db-shm
/.vs/Create-Departure/CopilotIndices/18.6.39603.9996/CodeChunks.db-wal
/.vs/Create-Departure/CopilotIndices/18.6.39603.9996/SemanticSymbols.db
/.vs/Create-Departure/CopilotIndices/18.6.39603.9996/SemanticSymbols.db-shm
/.vs/Create-Departure/CopilotIndices/18.6.39603.9996/SemanticSymbols.db-wal
