/.vs/slnx.sqlite
/.vs/Create-Departure.slnx/v18/.wsuo
/.vs/Create-Departure.slnx/FileContentIndex/30a567ce-4472-41e3-8430-3651c008c3bd.vsidx
/.vs/Create-Departure.slnx/FileContentIndex/69c674b6-bd2e-42eb-b0b2-fca5cc093b93.vsidx
/.vs/Create-Departure/CopilotIndices/18.6.39603.9996/CodeChunks.db
/.vs/Create-Departure/CopilotIndices/18.6.39603.9996/CodeChunks.db-shm
/.vs/Create-Departure/CopilotIndices/18.6.39603.9996/CodeChunks.db-wal
/.vs/Create-Departure/CopilotIndices/18.6.39603.9996/SemanticSymbols.db
/.vs/Create-Departure/CopilotIndices/18.6.39603.9996/SemanticSymbols.db-shm
/.vs/Create-Departure/CopilotIndices/18.6.39603.9996/SemanticSymbols.db-wal
/.vs/Create-Departure.slnx/FileContentIndex/efb10b27-e7b0-4042-973e-6d28894230cc.vsidx
/.vs/Create-Departure.slnx/FileContentIndex/88c5d97a-ae64-4b53-aab2-bc6a843fa940.vsidx
/.vs/Create-Departure.slnx/FileContentIndex/d27e0cd9-5748-4999-bd85-84973037a8ca.vsidx
/.vs/Create-Departure.slnx/FileContentIndex/a0c28d4a-c12f-427c-b538-09a39ca0ca9c.vsidx
/.vs/Create-Departure.slnx/FileContentIndex/95177c10-8b15-4fba-9c90-20fd6f158448.vsidx
/.vs/Create-Departure.slnx/FileContentIndex/6070d44d-60a2-4c0e-9caa-cd20ef19d5f5.vsidx
/.vs/Create-Departure.slnx/FileContentIndex/acb6f6da-6a3d-4e96-b425-09b2f368debc.vsidx
/.vs/Create-Departure.slnx/FileContentIndex/1145a250-ab3c-4237-93d6-eed6818f23e4.vsidx
/.vs/Create-Departure.slnx/FileContentIndex/b32657dc-75e3-4374-bd13-199e131716c6.vsidx
*.vsidx
